<div *ngIf="!areArticleFound">
    <h1>Жодної статті не знайдено</h1>
    <div class="container">
        <div class="row">
            <div class="col-5 align-self-center">
                Налаштуйте ваші вподобання і зачекайте трохи, поки відбувається пошук
            </div>
            <div class="col-7 align-self-center text-center">
                <img src="/assets/img/AnimationSmall.gif" alt="" width="300px" height="240px">
            </div>
        </div>
    </div>

    <div class="text-center">
        <a routerLink="/tags" class="btn btn-primary save-button">Налаштувати</a>
    </div>
</div>

<div *ngIf="areArticleFound">
    <h1>Знайшлося дещо почитати</h1>
    <div class="container articles">
        <div *ngFor="let article of articles" class="row">
            <div class="col-2 align-self-center author">
                <img class="rounded-circle" src="{{ article.authorPhoto }}" title="{{ article.authorName }}" />
            </div>
            <div class="col-8 align-self-center">
                <div class="title">
                    <a href="{{ article.originalUrl }}" target="_blank">
                        {{ article.title }}
                    </a>
                </div>
                <div class="description">
                    {{ article.description }}
                </div>
            </div>
            <div class="col-2 align-self-center links">
                <div>
                    {{ article.publicatedAt | date:'d-M-yyyy' }}
                </div>
                <div>{{ article.readTime }}</div>
                <div>
                    <a (click)="openPdf(article)" href="javascript:void(0)">PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>