.container {
    margin: 0;
    padding: 0;
}

.container div {
    margin: 0;
    padding: 0;
}

.title a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #a64f05;
}

.description {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

.links div {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

img {
    width: 70px;
    height: 70px;
    margin: 2px;
}
