
<div *ngIf="!articlesFound">
    <h1>Жодної статті не знайдено</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 align-self-center">
                Налаштуйте ваші вподобання і зачекайте трохи, поки відбувається пошук
            </div>
            <div class="d-none d-sm-block col-sm-6 align-self-center text-center">
                <img src="/assets/img/AnimationSmall.gif" alt="" width="300px" height="240px">
            </div>
        </div>
    </div>

    <div class="text-center">
        <a routerLink="/tags" class="btn btn-primary settings-button">Налаштувати</a>
    </div>
</div>

<div *ngIf="articlesFound">
    <h1>Знайшлося дещо почитати</h1>    
    <div *ngIf="!isOnlyOneTag" class="filter">
        <div class="filter-caption">Фільтр:</div>
        <div *ngFor="let tag of tagsActivity | keyvalue">
            <app-tag-item [tag]='tag.key' [isRemovingAllowed]='false' [isActive]='tag.value' (onClick)='onClickTag($event)'>
            </app-tag-item>
        </div>
    </div>
    <div class="articles">
        <div *ngFor="let article of articles" class="row article">
            <div class="article-author">
                <img class="rounded-circle" src="{{ article.authorPhoto }}" title="{{ article.authorName }}" />
            </div>
            <div class="article-text">
                <div class="article-title">
                    <a href="{{ article.originalUrl }}" target="_blank">
                        {{ article.title }}
                    </a>
                </div>
                <div class="article-description">
                    {{ article.description }}
                </div>
            </div>
            <div class="article-links">
                <div class="publicated-date">
                    {{ article.publicatedAt | date:'d-M-yyyy' }}
                </div>
                <div class="readtime">
                  {{ article.readTime }}
                </div>
                <div>
                    <a (click)="openPdf(article)" href="javascript:void(0)">PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
