.articles {
    margin: 0;
    padding: 0;
}

.article {
    display: flex;
    margin: 0;
    padding: 10px 0px;
}

.article-author {
    flex: 0 0 70px;
    padding: 0;
}

.article-author img {
    width: 70px;
    height: 70px;
    margin: 2px;
}

.article-text {
    flex: 1;
    padding: 5px 10px 0 10px;
}

.article-title a {
    font-size: 14px;
    line-height: 19px;
    color: #a64f05;
}

.article-description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #848484;
}

.article-links {
    flex: 0 0 70px;
    padding: 0;
}

.article-links div {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

.settings-button {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .article-author {
        flex: 0 0 50px;
        padding: 0;
    }
    .article-author img {
        width: 50px;
        height: 50px;
        margin: 1px;
    }
    .container {
        max-width: none !important;
    }
    .article-description, .publicated-date, .readtime {
        display: none;
    }
    .article-links {
        flex: 0 0 30px;
        padding: 0;
    }
}