.articles {
    margin: 0;
    padding: 0;
}

.articles div {
    margin: 0;
    padding: 0;
}

.title a {
    font-size: 14px;
    line-height: 19px;
    color: #a64f05;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #848484;
}

.links div {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

.author img {
    width: 70px;
    height: 70px;
    margin: 2px;
}

.settings-button {
  margin-top: 50px;
}

@media (max-width: 768px) {
    .author img {
        width: 50px;
        height: 50px;
        margin: 1px;
    }

    .container {
        max-width: none !important;
    }

    .description, .publicated-date, .readtime {
      display: none;
    }
}
