<div class="article">
    <div class="article-author">
        <img class="rounded-circle" src="{{ article.authorPhoto }}" title="{{ article.authorName }}" />
    </div>
    <div class="article-text" title="{{ article.description }}">
        <div class="article-title">
            <a [routerLink]="['/articles', article.id, 'user', user.id]">
                {{ article.title }}
            </a>                
        </div>
        <div class="article-info">
            {{ article.authorName }} | {{ article.publicatedAt | date:'d MMMM' }} | {{ article.readTime }}
            <div class="float-right">
                <div *ngFor="let tag of article.tags" class="filter-tag">
                    <app-tag-item [tag]='tag' [isRemovingAllowed]='false' [isActive]='false' [isSmall]='true'>
                    </app-tag-item>
                </div>
            </div>
        </div>
    </div>
</div>
