<div *ngIf="!isLogedIn">
    <h1>Вітаю вас!</h1>
    <p>
        Ви
    </p>
    <ul>
        <li>обираєте теги</li>
        <li>вказуєте періодичність</li>
    </ul>

    <p>
        Я
    </p>
    <ul>
        <li>шукаю дописи</li>
        <li>відправляю вам на пошту</li>
    </ul>

    <button (click)="logInWithGoogle()">Увійти</button>
</div>

<div *ngIf="isLogedIn">
    <h1>Вітаю вас, {{ userName }}!</h1>
    <p>
        Ви отримуєте статті
    </p>
    <ul>
        <li>за 5 тегами</li>
        <li>щоп’ятниці о 9:00</li>
        <li>один раз на тиждень</li>
    </ul>

    <a routerLink="/tags">Налаштувати</a>

    <a routerLink="/articles">Переглянути статті</a>
</div>