h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 40px;
    margin: 0;
}

p {
    margin: 0;
}

.view-articles-button, .signin-button {
    margin-top: 50px;
}