<div *ngIf="!isLogedIn">
    <h1>Вітаю вас!</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-5">
                <p>
                    Ви
                </p>
                <ul>
                    <li>обираєте теги</li>
                    <li>вказуєте періодичність</li>
                </ul>

                <p>
                    Я
                </p>
                <ul>
                    <li>шукаю дописи</li>
                    <li>відправляю вам на пошту</li>
                </ul>
            </div>
            <div class="d-none d-sm-block col-sm-7 align-self-center text-center">
                <img src="/assets/img/AnimationSmall.gif" alt="" width="300px" height="240px">
            </div>
        </div>
    </div>


    <div class="text-center">
        <button (click)="logIn()" class="btn btn-primary signin-button">
            Увійти
            <img src="/assets/img/Google.png" width="20" />
        </button>
    </div>
</div>

<div *ngIf="isLogedIn">
    <h1>Вітаю вас, {{ userName }}!</h1>
    <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                <p>
                    Ви отримуєте статті
                </p>
                <ul>
                    <li>за 5 тегами</li>
                    <li>щоп’ятниці о 9:00</li>
                    <li>один раз на тиждень</li>
                </ul>
            </div>
            <div class="d-none d-sm-block col-sm-6 align-self-center text-center">
                <a routerLink="/tags" class="btn btn-secondary settings-button">Налаштувати</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a routerLink="/articles" class="btn btn-primary view-articles-button">Переглянути статті</a>
    </div>
</div>
