<div *ngIf="!isLogedIn">
    <h1>Вітаю вас!</h1>
    <div class="container-flex">
        <div class="row">
            <div class="col-12 col-sm-6 text">
                <p>
                  {{ 'Greeting.You' | translate }}
                </p>
                <ul>
                    <li>{{ 'Greeting.SelectWords' | translate }}</li>
                    <li>{{ 'Greeting.SpecifyPeriodicity' | translate }}</li>
                </ul>

                <p>
                  {{ 'Greeting.I' | translate }}
                </p>
                <ul>
                    <li>{{ 'Greeting.SearchArticlesByWords' | translate }} </li>
                    <li>{{ 'Greeting.SendToYourEmail' | translate }} </li>
                </ul>
            </div>
            <div class="d-none d-sm-block col-sm-6 align-self-center text-center">
                <img src="/assets/img/animation-small.gif" alt="" width="300px" height="240px">
            </div>
        </div>
    </div>


    <div class="text-center">
        <button (click)="logIn()" class="btn btn-primary signin-button" title="{{ 'Greeting.LoginWithGoogle' | translate }}">
          {{ 'Greeting.Login' | translate }}
            <img src="/assets/img/google-login.png" width="20" />
        </button>
    </div>
</div>

<div *ngIf="isLogedIn">
    <h1>{{ 'Greeting.Hello' | translate:{'name':userName} }}!</h1>
    <div class="container-flex">
        <div class="row">
            <div class="col col-sm-6 text">
                <p>
                  {{ 'Greeting.YouReceiveArticles' | translate }}
                </p>
                <ul>
                    <li>{{ tagsText | translate: {'number':numberOfTags} }} </li>
                    <li>{{ scheduleText | translate }}</li>
                </ul>
            </div>
            <div class="d-none d-sm-block col-sm-6 align-self-center text-center">
                <a routerLink="/tags" class="btn btn-secondary settings-button"> {{ 'Greeting.Settings' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a routerLink="/articles" class="btn btn-primary view-articles-button">{{ 'Greeting.Articles' | translate }}</a>
    </div>
</div>
