<div class="container">
    <pdf-viewer 
        [src]="pdfSrc" 
        [(page)]="pageCurrent"
        [show-all]="true"
        [render-text]="true"
        [stick-to-page]="true"
        [show-borders]="false"
        [ngClass]="{'show' : pdfLoaded, 'hide' : !pdfLoaded }"
        (after-load-complete)="onLoadComplete($event)"
        (error)="onError($event)">
    </pdf-viewer>
    <div *ngIf="!pdfLoaded && !isError">
        <h1>
            Завантаження статті...
        </h1>        
    </div>    
    <div *ngIf="isError">
        <h1>
            Нажаль, неможливо завантажити статтю
        </h1>        
    </div> 
</div>
