<div class="container">
    <div *ngIf="pdfLoaded" class="toolbar">
        <div class="float-right" title="{{ 'ViewPdf.OpenInNewTab' | translate }}">
            <a (click)="openPdf(articleId)" href="javascript:void(0)">
                <img src="/assets/img/pdf-small.png" alt="{{ 'ViewPdf.OpenInNewTab' | translate }}">
            </a>
        </div>
    </div>
    <div>
        <pdf-viewer
            [src]="pdfSrc"
            [(page)]="pageCurrent"
            [show-all]="true"
            [render-text]="true"
            [stick-to-page]="true"
            [show-borders]="false"
            [ngClass]="{'show' : pdfLoaded, 'hide' : !pdfLoaded }"
            (after-load-complete)="onLoadComplete($event)"
            (error)="onError($event)">
        </pdf-viewer>
    </div>
    <div *ngIf="!pdfLoaded && !isError">
        <h1>
          {{ 'ViewPdf.ArticleLoading' | translate }}
        </h1>
    </div>
    <div *ngIf="isError">
        <h1>
          {{ 'ViewPdf.CantLoadArticle' | translate }}
        </h1>
    </div>
</div>
