<div class="container">
    <div *ngIf="pdfLoaded" class="toolbar">
        <div class="float-right" title="Відкрити PDF у новій вкладці">
            <a (click)="openPdf(articleId)" href="javascript:void(0)">
                <img src="/assets/img/pdf-small.png" alt="">
            </a>
        </div>
    </div>
    <div>
        <pdf-viewer 
            [src]="pdfSrc" 
            [(page)]="pageCurrent"
            [show-all]="true"
            [render-text]="true"
            [stick-to-page]="true"
            [show-borders]="false"
            [ngClass]="{'show' : pdfLoaded, 'hide' : !pdfLoaded }"
            (after-load-complete)="onLoadComplete($event)"
            (error)="onError($event)">
        </pdf-viewer>
    </div>
    <div *ngIf="!pdfLoaded && !isError">
        <h1>
            Завантаження статті...
        </h1>        
    </div>    
    <div *ngIf="isError">
        <h1>
            Нажаль, не вдалося завантажити статтю
        </h1>        
    </div> 
</div>
