<input [(ngModel)]="currentTagName" (keyup.enter)="addCurrentTag()">

<button (click)="addCurrentTag()">Add</button>

<h3>Related Tags</h3>
<ul>
    <div *ngFor="let tag of relatedTags | keyvalue">
        <app-tag-item [tag]='tag.value' (onRemove)='onRemoveRelatedTag($event)' (onClick)='onClickRelatedTag($event)'></app-tag-item>
    </div>
</ul>
<br>

<h3>Tags</h3>
<ul>
    <div *ngFor="let tag of tags | keyvalue">
        <app-tag-item [tag]='tag.value' (onRemove)='onRemoveTag($event)' (onClick)='onClickTag($event)'></app-tag-item>
    </div>
</ul>

<button  (click)="save()">Save Tags</button>

<a routerLink="/mailing">Next</a>
