<h1>{{ 'Tags.TagsSettings' | translate }}</h1>

<div class="text-center">
    <p>{{ 'Tags.AddTags' | translate }}</p>
    <div class="container">
        <input [(ngModel)]="currentTagName" (keyup.enter)="addCurrentTag()" type="text">
        <button class="add" (click)="addCurrentTag()">
            <img src="/assets/img/btn-add.png" alt="{{ 'Tags.Add' | translate }}" />
        </button>
    </div>
</div>

<div class="tags">
    <div *ngFor="let tag of tags | keyvalue">
        <app-tag-item [tag]='tag.value.name' [isRemovingAllowed]='true' (onRemove)='onRemoveTag($event)'>
        </app-tag-item>
    </div>
</div>

<div *ngIf="isRelatedTagsExist()" class="related-tags">
    <p>{{ 'Tags.YouMayBeInterested' | translate }}</p>
    <div *ngFor="let tag of relatedTags | keyvalue">
        <app-tag-item [tag]='tag.value.name' [isRemovingAllowed]='false' [isActive]='false' (onClick)='onClickRelatedTag($event)'>
        </app-tag-item>
    </div>
</div>


<div *ngIf="isTagsExist()" class="text-center">
    <button class="btn btn-primary save-button" (click)="save()">{{ 'Tags.Save' | translate }}</button>
</div>

