<h1>Налаштування ключових слів</h1>

<div class="text-center">
    <p>Додайте слова, що вас цікавлять</p>
    <div class="container">
        <input [(ngModel)]="currentTagName" (keyup.enter)="addCurrentTag()" type="text">
        <button class="add" (click)="addCurrentTag()">
            <img src="/assets/img/Button.png" alt="Додати" />
        </button>
    </div>
</div>

<div class="tags">
    <div *ngFor="let tag of tags | keyvalue">
        <app-tag-item [tag]='tag.value.name' [isRemovingAllowed]='true' (onRemove)='onRemoveTag($event)'>
        </app-tag-item>
    </div>
</div>

<div *ngIf="isRelatedTagsExist()" class="related-tags">
    <p>Вас також можуть зацікавити:</p>
    <div *ngFor="let tag of relatedTags | keyvalue">
        <app-tag-item [tag]='tag.value.name' [isRemovingAllowed]='false' (onClick)='onClickRelatedTag($event)'>
        </app-tag-item>
    </div>
</div>


<div *ngIf="isTagsExist()" class="text-center">
    <button class="btn btn-primary save-button" (click)="save()">Зберегти</button>
</div>

