input[type="text"] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #a64f05;
    width: 264px;
    height: 44px;
    padding-left: 14px;
    padding-right: 50px;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #a0d18c;
}

button.add {
    margin-left: -38px;
    height: 30px;
    width: 30px;
    border: 0;
    background-color: #ffffff;
    padding: 0;
    border: none;
    outline:none;
}

.tags {
    margin-top: 30px;
}

.tags div {
    display: inline;
}

div.inline { 
    float:left; 
}

.related-tags {
    margin-top: 30px;
}

.related-tags div {
    display: inline;
}

.save-button {
    margin: 20px;
    width: 160px;
}