<h1>Налаштування відправки</h1>

<p>Вкажіть, як часть і скільки статей ви хочете отримувати на {{ userEmail }}</p>

<div>
    <div>Кількість статей: {{ numberOfArticles }}</div>
    <div>        
        <ng5-slider [(value)]="numberOfArticles" [options]="numberOfArticlesOptions"></ng5-slider>
    </div>
</div>

<br>
<br>

<div>
    <div>Періодичність:</div>
    <div>
        <ng5-slider [(value)]="schedule" [options]="scheduleOptions"></ng5-slider>        
    </div>
</div>

<br>
<br>

<button (click)="save()">Зберегти</button>