::ng-deep.ng5-slider-bar {
  background: #576987 !important;
  height: 3px !important;
}

::ng-deep.ng5-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -10px !important;
  bottom: auto !important;
  background-color: #202A40 !important;
  margin-left: 10px !important;
}

::ng-deep.ng5-slider-pointer::after {
  display: none;
}

::ng-deep.ng5-slider-tick {
  background: #576987 !important;
}

::ng-deep.ng5-slider-tick-legend {
  white-space: nowrap !important;
  transform: translate(-90%,0) !important;
}

::ng-deep.ng5-slider-full-bar {
  padding: 50px;
}

.save-button {
  margin-top: 50px;
}

.slider, .description {
  margin-left: 30px;
  margin-right: 30px;
}

.articles {
  padding-top: 40px;
}

.schedule {
  padding-top: 50px;
}

@media (max-width: 768px) {
  .slider, .description {
    margin-left: 10px;
    margin-right: 15px;
  }
}
