<h1>Налаштування відправки</h1>

<p>Вкажіть, як часть і скільки статей ви хочете отримувати на {{ userEmail }}</p>

<div>
    <div>Кількість статей: {{ numberOfArticles }}</div>
    <div><input type="number" [(ngModel)]="numberOfArticles" ></div>
</div>

<div>
    <div>Періодичність:</div>
    <div>
        <select [(ngModel)]="schedule">
            <option *ngFor="let item of scheduleValues" [value]="item.key">{{ item.value }}</option>
         </select>
    </div>
</div>

<button (click)="save()">Зберегти</button>