.dark-backdrop {
  opacity: 10% !important;
  background-color: gray !important;
  visibility: visible !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #a64f05 !important;
}
