.dark-backdrop {
  opacity: 0.1 !important;
  background-color:#D6E3F0 !important;
  visibility: visible !important;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #576987 !important;
}
