.btn-primary {
    padding: 8px 14px;
    background-color: #ff7e0f;
    border: 1px solid #a64f05;
    border-radius: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.btn-secondary {
    padding: 8px 14px;
    color: #a64f05;
    background-color: #ffffff;
    border: 1px solid #a64f05;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.btn:hover {
    background-color: #a64f05;
    color: #ffffff;
    border: 1px solid #a64f05;
}

.btn:focus {
    background-color: #a64f05;
    color: #ffffff;
    border: 1px solid #a64f05;
}

:focus {
    outline-style: solid !important;
    outline-width: thin !important;
    outline-color: #ffbf86 !important;
    box-shadow: none !important;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    padding: 40px;
    margin: 0;
}
