.btn-primary {
    padding: 8px 14px;
    background-color: #ff7e0f;
    border: 1px solid #a64f05;
    border-radius: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.btn-secondary {
    padding: 8px 14px;
    color: #a64f05;
    background-color: #ffffff;
    border: 1px solid #a64f05;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.btn:hover {
    background-color: #a64f05;
    color: #ffffff;
    border: 1px solid #a64f05;
}
