<div *ngIf="isDataLoaded">
  <div *ngIf="!isError">
    <h1>{{ 'Unsubscribe.SubscriptionCanceled' | translate }}</h1>
    <div class="message">
      <b>{{ user.email }}</b>{{ 'Unsubscribe.UserWasUnsubscribed' | translate }}
    </div>
  </div>

  <div *ngIf="isError">
    <h1>{{ 'Unsubscribe.InvalidToken' | translate }}</h1>
  </div>

  <div class="text-center">
    <button (click)="logIn()" class="btn btn-primary signin-button" title="{{ 'Greeting.LoginWithGoogle' | translate }}">
      {{ 'Greeting.Login' | translate }}
      <img src="/assets/img/google-login.png" width="20" />
    </button>
  </div>
</div>
